<!DOCTYPE html>
<html>
    <head>
        <title>SERVER</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <div>
            <h1>404/INFO PAGE</h1>
        </div>
        <hr />
        <div>
            <h3>
                🚀 LISTENING AT
                <a href="http://127.0.0.1:3001">http://127.0.0.1:3001</a> 🚀
            </h3>
            <pre>
____________________________________________________________________________
|`/oooooooooo/`                                                             |
|os`        .s+ -/.         -/. `-//////////-` ./://///////:.   -////////:. |
|ss    .-`  `so :s:         /s- os-........-s+ :s+-......../o.  `........:s+|
|ss    -+o:``so :s:         /s- ss//////////so :s:          ` `/++++++++++ss|
|os.     ./o+s+ -s/        `+s- ss...........` :s:            +s-````````.ss|
|`/+oooooooo+o:  -+oooooooooos- osooooooooooo+ :s-            .+ooooooooooss|
|                                                                           |
|              ███    █    ███      ███       ███  ██ ██  ███               |
|            ██     ██  █  █  ██  ██        ██     ██ ██  █  ██             |
|            ██     ██  █     ██  █         ██     ██ ██  ██                |
|              ███    █    ███     ████       ███  ███    █                 |
|___________________________________________________________________________|
            </pre>
        </div>
        <div>
            <h3>API ENDPOINTS</h3>
            <p>
                [ GET ]
                <a href="http://127.0.0.1:3001/api/bounds" target="_blank">
                    http://127.0.0.1:3001/api/bounds
                </a>
            </p>
            <p>
                [ GET ]
                <a href="http://127.0.0.1:3001/api/node" target="_blank">
                    http://127.0.0.1:3001/api/node
                </a>
            </p>
            <p>
                [ GET ]
                <a href="http://127.0.0.1:3001/api/way" target="_blank">
                    http://127.0.0.1:3001/api/way
                </a>
            </p>
            <p>
                [ POST ]
                <a href="http://127.0.0.1:3001/api/router" target="_blank">
                    http://127.0.0.1:3001/api/way
                </a>
            </p>
        </div>
        <hr />
        <div>
            <h3>HAPPY HACKING! ;-)</h3>
        </div>
        <div>
            MADE WITH <span style="color: red">&lt;3</span> @
            <a href="http://quera.ir" target="_blank"> QUERA </a>
        </div>
    </body>
    <style>
        div {
            text-align: center;
            margin-bottom: 2.5%;
        }
        hr {
            width: 750px;
        }
    </style>
</html>
